<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.5.4" targetFramework="net461" />
  <package id="ImageProcessor.Web" version="4.8.5" targetFramework="net461" />
  <package id="ImageProcessor.Web.PostProcessor" version="1.2.3" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.7.700" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net461" />
  <package id="nQuant" version="1.0.3" targetFramework="net461" />
</packages>